node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store

# firebase
firebase/.firebaserc
firebase/google-services.json
firebase/GoogleService-Info.plist
firebase/config.ts
